HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Logs ###
*.log
logs/

### Environment / secrets ###
.env
.env.local
application-local.properties
application-local.yml

### Test / build artifacts ###
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

#jenkins
## src/test/java/com/shopdrop/integration
#src/test/java/com/shopdrop/service
## src/test/java/com/shopdrop/system
#Jenkinsfile
#.github
#shopdrop\src\test\java\com\shopdrop\system\pages\CheckoutPage.java
#shopdrop\src\test\java\com\shopdrop\system\pages\LoginPage.java
#shopdrop\src\test\java\com\shopdrop\system\pages\OrderStatusPage.java
#shopdrop\src\test\java\com\shopdrop\system\pages\ProductDetailPage.java
#shopdrop\src\test\java\com\shopdrop\system\pages\ProductsPage.java
#shopdrop\src\test\java\com\shopdrop\system\pages\RegisterPage.java
#shopdrop\src\test\java\com\shopdrop\system\RawLocatorAccountAndStockLimitIT.java
#shopdrop\src\test\java\com\shopdrop\system\RawLocatorAdminOperationsIT.java
#shopdrop\src\test\java\com\shopdrop\system\RawLocatorCheckoutOrderLifecycleIT.java
#shopdrop\src\test\java\com\shopdrop\system\RawLocatorShoppingAndCartIT.java
#shopdrop\src\test\java\com\shopdrop\system\RegistrationAndLoginIT.java
#shopdrop\src\test\java\com\shopdrop\system\ReviewSubmissionRawLocatorsIT.java
#shopdrop\src\test\java\com\shopdrop\system\SearchAndCategoryFilterIT.java
#shopdrop\src\test\java\com\shopdrop\system\ShoppingJourneyIT.java